@import "style.scss";

#gnb, .sub_mnu{
  padding-left: 0;
}
#head p{
  margin: 0;
}
// 메인서식
main{
  padding-top:48px;
  .review_upload{
    padding-top:30px;
    .review_class_box{
      width:100%;
      display:flex;
      align-items: center;
      height:auto;
      border-bottom:1px solid $dark_color_02;
      padding: 0 1.5rem 30px;
      .review_class_img{
        width:80px;
        height:80px;
        overflow:hidden;
        border-radius:5px;
        img{
          width:100%;
          height:100%;
          object-fit:cover;
        }
      }
      .review_class_txt{
        width:calc(100% - 80px);
        color:$dark_color_07;
        padding-left:12px;
        box-sizing: border-box;
        font-size:$font_size_18;
        p{
          margin-bottom:0;
        }
        .cate{
          color:$dark_color_04;
          font-size:$font-size_14;
        }
        .star{
          padding:12px 0;
          width:100%;
          position:relative;
          .review_star{
            height:25px;
            overflow:hidden;
            position:absolute;
            left:0; top:-5px;
            img{
              width:18px;
            }
          }
        }
        .review_view_nick_date{
          display:flex;
          width:100%;
          align-items:center;
          font-size:$font_size_12;
          color:$dark_color_04;
          .review_title{
            height:13px;
            border-right:1px solid $dark_color_04;
            padding-right:8px;
            line-height:12px;
            text-align:center;
          }
          .review_date{
            height:13px;
            padding-left:8px;
            line-height:12px;
            text-align:center;
          }
        }
      }
    }
  }
}
.qna_view_btn{
  padding: 20px 1.5rem 85px;
  width:100%;
  height:auto;
  display:flex;
  justify-content:right;
  align-items:center;
  #qna_view_del{
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight: 600;
    font-size: $font_size_14;
    border-radius: 50px;
    margin-right:12px;
    width:80px;
    height:40px;
    background:$danger_color;
    border:none;
    color:$dark_color_07;
    img{
      width:24px;
    }
  }
  #qna_view_edit{
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight: 600;
    font-size: $font_size_14;
    border-radius: 50px;
    width:80px;
    height:40px;
    background:$point_color;
    border:none;
    color:$main_color;
    img{
      width:24px;
    }
  }
}

.rv_content{
  width:100%;
  color:$dark_color_07;
  font-weight:400;
  width:100%;
  border-bottom:1px solid $dark_color_02;
  padding:30px 1.5rem;
  min-height: 48.5vh;
}
.qna_upload_btn_box{
  display:flex;
  margin-top:20px;
  justify-content:space-between;
  .qna_upload_cbtn{
    width:48%;
    border-radius:5px;
    background-color: $danger_color;
    height:50px;
    text-align:center;
    line-height:50px;
    font-size:$font_size_16;
  }
  #qna_upload_btn{
    width:48% !important;
    @include btn100;
  }
}
