@import "style";

#head p{
  margin-bottom: 0;
}

main {
  padding: 70px 1.5rem 28px;
}

.sign_profile {
  position: relative;
  width: 90px;
  height: 90px;
  margin: 0 auto 20px;

  .sign_profile_photo {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .sign_image_upload {
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;

    img {
      width: 30px;
      height: 30px;
      padding: 3px;
      background: $main_color;
      border-radius: 50%;
      border: 2px solid $dark_color_07;
      box-sizing: border-box;
    }
  }

  #sign_profile_photo {
    display: none;
  }
}

.sign_input_form {
  label {
    color: $dark_color_07;
    font-size: $font_size_12;
  }
  .d-flex {
    justify-content: space-between;
  }
  .sign_input_box {
    position: relative;
    margin-bottom: 16px;

    img {
      position: absolute;
      width: 16px;
      height: 16px;
      left: 12px;
      top: 14px;
    }

    input {
      height: 45px;
      background: $dark_color_02;
      color: $dark_color_05;
      font-size: $font_size_12;
      border: $border;
      padding: 0.375rem 0.75rem 0.375rem 2.188rem;
      outline: none !important;
      box-shadow: none !important;

      &:focus {
        background: $dark_color_02;
        color: $dark_color_05;
        border: $border;
      }

      &:active {
        background: $dark_color_02;
        color: $dark_color_05;
        border: $border;
      }

      &::placeholder {
        color: $dark_color_05;
      }
    }
  }

  .sign_box_85 {
    width: 77%;
    display: inline-block;
  }
  .sign_box_15 {
    width: 21%;
    display: inline-block;

    .sign_btn {
      width: 100%;
      height: 45px;
      font-size: $font_size_14;
      padding: 0;
    }
  }

  .interest {
    .d-flex{
      justify-content: unset;
      flex-wrap: wrap;
    }

    p {
      margin-bottom: 10px;
      color: $dark_color_07;
      font-size: $font_size_12;
    }

    label {
      @include btnSmall($dark_color_02, $dark_color_07);
      padding: 0px 10px;
      height: 34px;
      line-height: 33px;
      font-size: $font_size_14;
      border: $border;
      margin: 0px 6px 10px 0px;
      cursor: pointer;
    }

    input {
      display: none;
    }
    input:checked + label {
      background: $danger_color;
      border: 1px solid $danger_color;
    }
  }
}

//부트스트랩 유효성검사 색변경
.form-control.is-invalid,
.was-validated .form-control:invalid {
  border-color: $point_color !important;
  background-image: url(../images/warning.svg);
}
.form-control.is-valid,
.was-validated .form-control:valid {
  border-color: $dark_color_07 !important;
  background-image: url(../images/valid_check.svg);
}
.valid-feedback {
  color: $dark_color_07;
}
.invalid-feedback {
  color: $point_color;
}

//이용약관
.contract {
  margin: 25px 0;
  > label {
    color: $dark_color_07;
    display: block;
    position: relative;
    padding: 10px 0px;
    border-bottom: $border;
    img {
      width: 16px;
      height: 16px;
      float: right;
    }
  }
  textarea {
    display: none;
    margin: 10px 0px;
  }
  > input {
    display: none;
  }
  > input:checked + textarea {
    display: block;
  }

  p {
    margin: 10px 0;
    input {
      width: 18px;
      height: 18px;
      vertical-align: middle;
    }
    label {
      color: $dark_color_05;
      font-size: $font_size_12;
    }
  }
}
textarea {
  background: $dark_color_02;
  color: $dark_color_05;
  font-size: $font_size_12;
  border: $border;
  outline: none;
  box-shadow: none;
  width: 100%;
  border-radius: 5px;
  resize: none;
}

input[type="submit"] {
  @include btn100();
}

footer {
  text-align: center;
  margin-bottom: 25px;
  p {
    color: $dark_color_04;

    a {
      color: $point_color;
    }
  }
}
