@import 'style';

header{
  width: 300px; height: 100vh;
  background: $dark_color_02;
  position: fixed;
  top: 0; left: 0;
}

header a{
  color: $dark_color_04;
  font-size: $font_size_14;
}

// 상단로고
header h1{
  width: 250px;
  padding: 30px 0;
  border-bottom: 1px solid $dark_color_04;
  margin: 0 auto;
}
header h1 img{
  width: 150px;
  display: block;
  margin: auto;
} 

// 메뉴글씨
header .menu{
  color: $dark_color_04;
  font-size: $font_size_14;
  padding: 25px 25px 15px;
}

//gnb 간격
header .gnb{
  margin-top: 20px;
}

// gnb아이콘들
header .gnb .first_icon, header .gnb .open{
  width: 26px;
  display: inline-block;
  vertical-align: middle;
}

// 먼저 오는 아이콘
header .gnb .first_icon{
  margin-right: 10px;
  margin-bottom: 6px;
}

// 접는아이콘
header .gnb .open{
  float: right;
  margin-top: 7px;
}
header .gnb li{
  // border-bottom: 1px solid $dark_color_03;

}
header .gnb a{
  display: block;
  clear: both;
  height: 40px;
  padding: 0 25px;
  line-height: 40px;
}

header .gnb a.now_link:hover {
  /* font-weight: bold; */
  filter: none;
}

header .gnb a:hover{
  filter: brightness(1.5);
}


// 서브메뉴
header .gnb .sub_menu{
  background: $dark_color_01;
  // display: none;
}

header .gnb .sub_menu > li a{
  text-indent: 40px;
}


// 메뉴 눌렀을때
.active{
  color: $dark_color_07;
  font-weight: 500;
}
.reverse{
  transform: rotate(180deg);
}
.white{
  filter: brightness(2);
}


//프로필서식
.profile{
  border-radius: 10px;
  background: $dark_color_03;
  width:250px; height: 290px;
  margin: auto; padding: 20px;
  box-sizing: border-box;
  position: absolute;
  left:50%; bottom: 28px;
  transform: translateX(-50%);
  text-align: center;
}

//프사
.profile .psa{
  width: 65px; height: 65px;
  border-radius: 50%;
  margin: 0 auto 15px;
}
.profile .psa img{
  display: block;
  width: 100%;
  height:100%;
  object-fit: cover;
  border-radius: 50%;
}

//아이디
.profile strong{
  font-weight: 500;
  font-size: $font_size_12;
  color: $dark_color_07;
}

.profile table{
width: 100%;
}

.profile tr:first-of-type{
  border-bottom: 1px solid $dark_color_04;
}
.profile tr:first-of-type td{
  text-align: left;
}

.profile th:first-of-type{
  font-size: $font_size_12;
  color: $dark_color_04;
  padding: 10px;
  text-align: left;
  width: 37%
}

.profile td:first-of-type{
  font-weight: 500;
  color: $dark_color_07;
  text-align: right;
}
.profile td:last-of-type{
  width: 25%;
}
.profile a{
  color: $point_color;
  font-size: $font_size_12;
}

.header2{
  position: absolute;
  right: 0; top: 0;
  width: calc(100% - 300px);
  padding: 20px 40px;
  box-sizing: border-box;
  font-size: $font_size_14;
}
.header2 a{
  color: $dark_color_04;
  display: inline-block;
}
.header2 .branch{
  float: left;
  line-height: 2.4;
}
.header2 .btn_box{
  text-align: end;
}

//알림버튼 , 계정관리버튼
.header2 .bell,  .header2 .setting_btn{
  display: inline-block;
  height: 28px;
}
.header2 .bell img,  .header2 .setting_btn img{
  height: 100%;
  vertical-align: middle;
  margin-bottom: 2px;
}

// 로그아웃버튼
.header2 .logout_btn{
  border: 1px solid $dark_color_04;
  border-radius: 6px;
  padding: 6px 12px;
  transition: 0.3s;
  margin: 0 15px;
}
.header2 .logout_btn:hover{
border: 1px solid $danger_color;
background: $danger_color;
color: $dark_color_07;
font-weight: 500;
}

