@import 'style.scss';
@import 'branch.scss';

body {
	background: $dark_color_06;
}

.gnb .now_link {
	color: $point_color;
}

main {
	width: calc(100% - 300px);
	margin: 70px 0 0 300px;
	// background: #ff0;
	// height: 1000px;

	section {
		width: 90%;
		margin: 100px auto 30px;

		h2 {
			background: $dark_color_02;
			color: $dark_color_07;
			border-radius: 10px 10px 0 0;
			height: 70px;
			line-height: 70px;
			font-size: $font_size_20;
			text-indent: 50px;
			font-weight: bold;
		}

		.review_wrap {
			width: 100%;
			box-sizing: border-box;
			padding: 50px;
			border-radius: 0px 0px 10px 10px;
			background: $dark_color_07;

			.review_title {
				font-size: $font_size_14;
				width: 100%;
				margin: 35px 0;

				.review_box {
					border-radius: 5px;
					border: 1px solid $dark_color_05;
					box-sizing: border-box;
					position: relative;
					width: 100%;
					height: 150px;

					.review_img_wrap {
						width: 150px;
						height: 150px;
						border-radius: 5px 0px 0px 5px;
						overflow: hidden;
						float: left;

						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}
					.review_content_wrap {
						margin-left: 170px;
						box-sizing: border-box;
						padding: 20px 20px 20px 0px;
						width: calc(100% - 170px);

						h3 {
							font-size: $font_size_20;
							color: $dark_color_02;
							font-weight: 500;
							line-height: 26px;
							overflow: hidden;
							width: 100%;
							text-overflow: ellipsis;
							white-space: nowrap;
							display: block;
						}

						p {
							font-size: $font_size_16;
							color: $dark_color_03;
							line-height: 20px;
							margin: 5px 0px;
						}
						.review_star {
							position: relative;
							height: 30px;

							.star {
								position: absolute;
								top: 0;
								left: 0;
								height: 26px;
								overflow: hidden;
							}
						}
						.rv_date {
							display: inline-block;
							padding-right: 10px;
							border-right: 1px solid $dark_color_05;
						}
						.rv_member {
							display: inline-block;
							margin-left: 10px;
							color: $dark_color_04;

							.member_profile_photo {
								width: 30px;
								height: 30px;
								border-radius: 50%;
								overflow: hidden;
								display: inline-block;
								vertical-align: middle;
								img {
									width: 100%;
									height: 100%;
									object-fit: cover;
								}
							}
						}
					}
				}
			}

			.review_content {
				font-size: $font_size_16;
				line-height: 16px;
				border-radius: 5px;
				border: 1px solid $dark_color_05;
				box-sizing: border-box;
				position: relative;
				width: 100%;
				display: flex;
				min-height: 330px;
				div {
					padding: 20px;
					box-sizing: border-box;
					min-height: 330px;
				}
				.title {
					border-radius: 5px 0 0 5px;
					width: 20%;
					height: 100%;
					background: $dark_color_06;
					border-right: 1px solid $dark_color_05;
					display: flex;
					align-items: center;
					justify-content: center;
				}
				.content {
					width: 80%;
				}
			}

			.review_buttons {
				margin-top: 35px;
				display: flex;
				justify-content: center;
				text-align: center;
				a {
					font-size: 20px;
					display: block;
					margin: 0 10px;
				}
				.review_delete_btn {
					@include btn100($danger_color, $dark_color_07);
					line-height: 60px;
					width: 200px;
					height: 60px;
				}
				.review_cancel_btn {
					@include btn100($dark_color_03, $dark_color_07);
					line-height: 60px;
					width: 200px;
					height: 60px;
				}
			}
		}
	}
}
